body {
  background-color: #ffc2cd;
  font-family: "Gabarito", sans-serif;
  font-family: "Noto Color Emoji", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  border-bottom: 1px solid #ffc2cd;
  padding: 0 0 30px 0;
}
a {
  color: #ff6289;
}
main {
  padding: 30px 0;
}
footer {
  border-top: 1px solid #ffc2cd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.weather-app {
  background: #ffd2e4;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #ffc2cd;
  border-color: #ff6289;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #ffc2cd;
  border-color: #ff6289;
  font-size: 14px;
  padding: 15px 30px;
  margin-left: 6px;
  border-radius: 6px;
  color: #ff6289;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #ff6289;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.weather-app-details strong {
  color: #ff6289;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 49px;
  margin-top: 22px;
}
.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
  color: #ff6289;
}
.weather-app-unit {
  margin-top: 16px;
  font-size: 24px;
  color: #ff6289;
}
